<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">

    <div class="container">
      <h1>La plume du Coq :<strong> your cocktail Bible !</strong></h1>
    </div>
</div>


  <div class="container my-5">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://images.unsplash.com/photo-1571950006124-943b3bc37223?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80/lewagon/fullstack-images/master/uikit/logo.png" %>)">
        <%=link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
      </div>
      <% end %>
  </div>
</div>
